<!-- Encabezado -->
<header class='header'>
	<h1>Bienvenido a NotreDame</h1>
	<p>Tu tienda en línea de confianza</p>
</header>

<!-- Contenido principal -->
<main class='home-container'>
	<!-- Sección de texto -->
	<section class='image-section'>
		<img src='/img/logo.png' alt='Logotipo de NotreDame' width='500' height='auto' />

	</section>
	<section class='text-section'>
		<h2>¿Qué ofrecemos?</h2>
		<p>Encuentra una amplia variedad de productos para satisfacer tus necesidades diarias.</p>
		<a href='/products' class='cta-button'>Comenzar ahora</a>
	</section>

	<!-- Sección de imagen -->
</main>