{{! Partial to display the header }}
<header>
	<!-- Navbar -->
	<div class='navbar'>
		<a href='/'>Home</a>
		<a href='/newProduct'>Create Product</a>
		<a href='/products'>Products List</a>
	</div>
</header>