{{! Partial to display the header }}
<header>
	<!-- Navbar -->
	<div class='navbar'>
		<div>
			<a href='/'><img src='/img/logo.png' alt='logo' width='200' height='auto' /></a>
		</div>
		<div class='container'>
			<a href='/'>Home</a>
			<a href='/newProduct'>Create Product</a>
			<a href='/products'>Products List</a>
			<a id='cart-link' href='#'><i class='fa-solid fa-cart-shopping'></i></a>

		</div>
	</div>
</header>

<script src='/js/navbar.js'></script>